# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives**
- Popular languages
- Popular libraries
- Open source tools
- Jupyter Notebooks

## Author
Zach L.

# Some of the popular languages used by Data Scientists are:
1. R
2. Python
3. SQL
4. JS
5. C++

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
|--------------------|
| MySQL |
| hadoop|
| SparkSQL |

### Below are a few examples of evaluating arithmetic expressions in Python

### This is a simple arithmetic expression to multiply then add integers.

In [7]:
print((3*4)+5)

17

### This will convert 200 minutes into hours by dividing by 60.

In [8]:
print(200/60)

3.3333333333333335